.financePage {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.tabs {
  width: 100%;
}

.tabs :global(.ant-tabs-nav) {
  margin-bottom: 24px;
}

.tabs :global(.ant-tabs-content-holder) {
  padding: 0;
}

@media (max-width: 768px) {
  .tabs :global(.ant-tabs-nav) {
    margin-bottom: 16px;
  }
}
