* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #1a1a1a;
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Скрытие скроллбара для всех скроллируемых элементов */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
